@use 'imports' as *;

:host {
  position: fixed;
  width: 100%;
  height: rem(100);
  background: lightblue;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    max-width: ($page-max-width + 64px * 2);
    margin-inline: auto;
  }
}
