@use '../base/variables' as *;
@use '../utils/index' as *;

sdss-button {
  &.long {
    min-width: rem(228);
    @include breakpoint('phone') {
      min-width: 100%;
    }
  }

  &:nth-of-type(n) {
    margin: 0;
  }

  [slot='icon'] {
    font-weight: bold;
    margin-left: $spacing-3xs;
  }

  &[kind='tertiary'] {
    --cds-body-compact-01-font-size: $base-font-size;

    &.plain {
      &::part(button) {
        font-weight: 400;
        line-height: normal;

        &:not(:focus-visible) {
          box-shadow: none;
        }
      }

      [slot='icon'] {
        font-weight: 400;
      }
    }
  }

  &[kind='primary'] {
    [slot='icon'] {
      font-weight: bold;
    }
  }

  &.small {
    &::part(button) {
      font-size: $small-font-size;
      height: rem(26);
      padding-inline: $spacing-2xs;
    }

    [slot='icon'] {
      margin-left: $spacing-4xs;
      font-size: $small-font-size;
    }
  }
}
