@use '../../../../styles/base/variables' as *;
@use '../../../../styles/utils/index' as *;

:host {
  @include flex-center;
  flex-direction: column;
  gap: $spacing-xs;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.loader {
  width: rem(70);
  height: rem(70);
  border: 5px solid $color-basic-white;
  border-top: 5px solid transparent;
  border-radius: 50%;
  @include spin;
}

.loader-text {
  color: $color-basic-white;
  font-size: rem(19.5);
  font-weight: bold;
}