@use '../../../styles/base/variables' as *;
@use '../../../styles/utils/index' as *;

:host {
  display: grid;
  grid-template-columns: rem(420) auto;
  gap: $spacing-md;

  @include breakpoint('laptop') {
    grid-template-columns: 1fr;
  }
}

.consultations-list {
  overflow: hidden;
}

.empty-data {
  @include box;
  padding: $spacing-3xl;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  text-align: center;
  width: 100%;
  height: 100%;

  @include breakpoint('laptop') {
    padding: $spacing-xl;
  }

  @include breakpoint('phone') {
    padding: $spacing-sm;
  }
}
