<!-- Backdrop overlay to block background content -->
@if (show()) {
  <div class="backdrop"></div>

  <!-- Modal content container -->
  <div #modal class="modal">
    <!-- Modal Header -->
    <div class="header">
      <span>
        {{ title() }}
      </span>
      <span class="material-symbols-outlined icon" (click)="close()">
        close
      </span>
    </div>

    <!-- Modal Body -->
    <div class="body">
      <div>
        @if (text()) {
          {{ text() }}
        }
        <ng-content select="[content]"></ng-content>
      </div>
    </div>

    <!-- Modal Footer -->
    <div class="footer">
      @if (!acceptOnly()) {
        <button (click)="close()">{{ 'common.cancel' | translate }}</button>
      }
      <button (click)="onConfirm()">{{ 'common.accept' | translate }}</button>
    </div>
  </div>
}
