<!-- Consult to reassing -->
<consultation
  [data]="consultation()!"
  [accordionMode]="false"
  applyCustomActions
>
  @if (dropdowns()) {
    <form actions class="custom-actions" [formGroup]="form">
      <h2>Reasignar mensaje:</h2>

      <div class="grid-template auto">
        <!-- TopicId -->
        <sdss-dropdown
          class="new-sdss"
          title-text="Tema"
          label="Selecciona una opcion..."
          [invalid]="form | isInvalidControl: 'topicId'"
          invalid-text="Campo obligatorio"
          [value]="form.get('topicId')?.value"
          formControlName="topicId"
        >
          @for (item of dropdowns()?.topics ?? []; track $index) {
            <sdss-dropdown-item
              [value]="item.id"
              (click)="setSelectableSubjects(item.id)"
              >{{ item.text }}</sdss-dropdown-item
            >
          }
        </sdss-dropdown>

        <!-- SubjectId -->
        <sdss-dropdown
          [attr.disabled]="!selectableSubjects().length ? true : null"
          class="new-sdss"
          title-text="Asunto"
          label="Selecciona una opcion..."
          [invalid]="form | isInvalidControl: 'subjectId'"
          invalid-text="Campo obligatorio"
          [value]="form.get('subjectId')?.value"
          formControlName="subjectId"
        >
          @for (item of selectableSubjects(); track $index) {
            <sdss-dropdown-item [value]="item.id">{{
              item.text
            }}</sdss-dropdown-item>
          }
        </sdss-dropdown>
      </div>

      <sdss-button kind="primary" class="new-sdss long" (click)="reassign()">
        Reasignar
      </sdss-button>
    </form>
  }
</consultation>
