<accordion title="Filtrar documentos" [open]="true">
  <form content [formGroup]="form">
    <!-- Filter fields -->
    <div class="grid-template">
      <!-- topicId -->
      <sdss-dropdown
        width="auto"
        class="new-sdss"
        title-text="Tema"
        label="Selecciona una opcion..."
        [value]="form.get('topicId')?.value"
        formControlName="topicId"
      >
        <sdss-dropdown-item (click)="setSelectableSubjects()" [value]="null"
          >Selecciona una opcion...</sdss-dropdown-item
        >
        @for (item of selectableTopics(); track $index) {
          <sdss-dropdown-item
            [value]="item.id"
            (click)="setSelectableSubjects(item.id)"
            >{{ item.text }}</sdss-dropdown-item
          >
        }
      </sdss-dropdown>

      <!-- subjectId -->
      <sdss-dropdown
        [attr.disabled]="!selectableSubjects().length ? true : null"
        width="auto"
        class="new-sdss"
        title-text="Asunto"
        label="Selecciona una opcion..."
        [value]="form.get('subjectId')?.value"
        formControlName="subjectId"
      >
        <sdss-dropdown-item [value]="null"
          >Selecciona una opcion...</sdss-dropdown-item
        >
        @for (item of selectableSubjects(); track $index) {
          <sdss-dropdown-item [value]="item.id">{{
            item.text
          }}</sdss-dropdown-item>
        }
      </sdss-dropdown>

      <!-- startDate -->
      <sdss-datepicker
        width="auto"
        class="new-sdss"
        [value]="form.get('startDate')?.value"
        formControlName="startDate"
      >
        <span slot="label-text">Fecha desde</span>
      </sdss-datepicker>

      <!-- endDate -->
      <sdss-datepicker
        width="auto"
        class="new-sdss"
        [value]="form.get('endDate')?.value"
        formControlName="endDate"
      >
        <span slot="label-text">Fecha hasta</span>
      </sdss-datepicker>

      <sdss-checkbox
        class="new-sdss"
        label-text="Mostrar consultas cerradas"
        [checked]="form.get('showClosed')?.value"
        formControlName="showClosed"
      >
      </sdss-checkbox>
    </div>

    <!-- Buttons -->
    <div class="buttons-group">
      <!-- Apply filters button -->
      <sdss-button
        size="sm"
        kind="primary"
        class="new-sdss"
        (click)="applyFilters()"
      >
        Buscar consulta
      </sdss-button>

      <!-- Remove filters button -->
      <sdss-button kind="tertiary" class="new-sdss" (click)="resetFilters()">
        Limpiar filtros
      </sdss-button>
    </div>
  </form>
</accordion>
