<form class="box" [formGroup]="form" (ngSubmit)="login()">
  <h1>{{ 'login.title' | translate }}</h1>

  <div class="grid-template">
    <!-- User -->
    <div>
      <label for="username">{{ 'login.usernameLabel' | translate }}</label>
      <input
        id="username"
        type="text"
        placeholder="{{ 'login.usernamePlaceholder' | translate }}"
        [class.is-invalid]="form | isInvalidControl: 'username'"
        [value]="form.get('username')?.value"
        formControlName="username"
      />
      @if (form | isInvalidControl: 'username') {
        <div class="invalid-feedback">
          {{ form.get('username')! | errorMessage }}
        </div>
      }
    </div>

    <!-- Password -->
    <div>
      <label for="password">{{ 'login.passwordLabel' | translate }}</label>
      <input
        id="password"
        type="password"
        placeholder="{{ 'login.passwordPlaceholder' | translate }}"
        [class.is-invalid]="form | isInvalidControl: 'password'"
        [value]="form.get('password')?.value"
        formControlName="password"
      />
      @if (form | isInvalidControl: 'password') {
        <div class="invalid-feedback">
          {{ form.get('password')! | errorMessage }}
        </div>
      }
    </div>
  </div>

  <button type="submit">{{ 'login.submitButton' | translate }}</button>
</form>
