<form class="box" [formGroup]="form">
  <h2>Acceso</h2>

  <div class="grid-template">
    <!-- User -->
    <div>
      <label for="username">Usuario</label>
      <input
        id="username"
        type="text"
        placeholder="Introduce tu usuario"
        [class.is-invalid]="form | isInvalidControl: 'username'"
        [value]="form.get('username')?.value"
        formControlName="username"
      />
      <div *ngIf="form | isInvalidControl: 'username'" class="invalid-feedback">
        Campo obligatorio
      </div>
    </div>

    <!-- Password -->
    <div>
      <label for="password">Contraseña</label>
      <input
        id="password"
        type="password"
        placeholder="Introduce tu contraseña"
        [class.is-invalid]="form | isInvalidControl: 'password'"
        [value]="form.get('password')?.value"
        formControlName="password"
      />
      <div *ngIf="form | isInvalidControl: 'password'" class="invalid-feedback">
        Campo obligatorio
      </div>
    </div>
  </div>

  <button (click)="login()">Acceder</button>
</form>
