<header></header>
<main class="new-sdss">
  @if (pageHeaderService.show()) {
    <page-header></page-header>
  }
  <div [class.page-tabulation]="!!pageHeaderService.breadcrumbRoute()">
    <router-outlet></router-outlet>
  </div>
</main>
<footer></footer>

@if (loaderService.isLoading()) {
  <global-loader></global-loader>
}

<modal
  [(show)]="genericModalsService.isModalVisible"
  [title]="genericModalsService.title()"
  [text]="genericModalsService.text()"
  [acceptOnly]="genericModalsService.acceptOnly()"
  (onConfirm)="genericModalsService.confirmResp.resolve($event)"
/>
