@use '../../../../styles/base/variables' as *;
@use '../../../../styles/utils/index' as *;

.footer-container {
  background: lightblue;

  .footer-wrapper {
    height: rem(100);
    max-width: ($page-max-width + 64px * 2);
    margin-inline: auto;
  }
}
